# Daily Indicators per Stock

In [117]:
# Import libraries and dependencies
import pandas as pd
import numpy as np
%matplotlib inline

## Read in Fundamental Indicators

In [118]:
free_cash_flow_equity_path = 'Resources/s_FreeCashFlowEquity.csv'
free_cash_flow_equity_df = pd.read_csv(free_cash_flow_equity_path)

gross_margin_path = 'Resources/s_GrossMargin.csv'
gross_margin_df = pd.read_csv(gross_margin_path)

market_cap_path = 'Resources/s_MarketCap.csv'
market_cap_df = pd.read_csv(market_cap_path)

net_income_margin_path = 'Resources/s_NetIncomeMargin.csv'
net_income_margin_df = pd.read_csv(net_income_margin_path)

pb_path = 'Resources/s_PB.csv'
pb_df = pd.read_csv(pb_path)

pe_path = 'Resources/s_PE.csv'
pe_df = pd.read_csv(pe_path)

px_path = 'Resources/s_PX.csv'
px_df = pd.read_csv(px_path)

roa_path = 'Resources/s_ROA.csv'
roa_df = pd.read_csv(roa_path)

roe_path = 'Resources/s_ROE.csv'
roe_df = pd.read_csv(roe_path)

universe_path = 'Resources/s_universe.csv'
universe_df = pd.read_csv(universe_path)

C:\Users\ekuo651\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [119]:
index_dates_df = pd.read_csv(px_path)

In [120]:
fundamental_indicators = [free_cash_flow_equity_df,
                          gross_margin_df,
                          market_cap_df,
                          net_income_margin_df,
                          pb_df,
                          pe_df,
                          px_df,
                          roa_df,
                          roe_df]
sectors_df = universe_df

In [121]:
index_dates = list(px_df['Date'])
index_dates[:3]

['1/1/1998', '1/2/1998', '1/5/1998']

In [122]:
[print(i.shape) for i in fundamental_indicators]

(5724, 506)
(5724, 506)
(5724, 506)
(5724, 506)
(263, 506)
(5724, 506)
(5724, 506)
(5724, 506)
(263, 506)

[None, None, None, None, None, None, None, None, None]

In [123]:
def drop_date(df):
    return df.drop(columns='Date', inplace=True)

[drop_date(i) for i in fundamental_indicators]

[None, None, None, None, None, None, None, None, None]

In [ ]:
stocks = list(px_df.column)
stocks[:3]

In [125]:
stocks[76:80]

['BDX UN Equity', 'BRK/B UN Equity', 'BBY UN Equity', 'HRB UN Equity']

['df_ILMN UW Equity',
 'df_EIX UN Equity',
 'df_GPS UN Equity',
 'df_ES UN Equity',
 'df_NLOK UW Equity']

## Make DataFrames for Individual Stocks

In [213]:
column_names = ['free_cash_flow_equity',
               'gross_margin',
               'market_cap',
               'net_income_margin',
               'pe',
               'px',
               'roa']


def make_df(stock):
    new_df = pd.concat([free_cash_flow_equity_df[stock],
                    gross_margin_df[stock], 
                    market_cap_df[stock],
                    net_income_margin_df[stock],
                    pe_df[stock],
                    px_df[stock],
                    roa_df[stock]],
                   axis='columns')
    new_df.columns = column_names
#    new_df.index = index_dates
    new_df.fillna(
         axis=0,
        method='ffill',
        inplace=True
    )
    return new_df

In [218]:
# dropna(axis=1,how='all') drops columns that are completely null
# dropna() will drop rows with any remaining nulls, essentially the null period before fundamentals were available

test_3_df = make_df(stocks[3])
test_3_df.iloc[4140:4150,:]

,free_cash_flow_equity,gross_margin,market_cap,net_income_margin,pe,px,roa
4140,-824.411,66.4374,26755.6415,14.656,24.1792,35.1832,2.8346
4141,-824.411,66.4374,26755.6415,14.656,24.1792,35.3231,2.8346
4142,-824.411,66.4374,26755.6415,14.656,24.1792,35.2573,2.8346
4143,-824.411,66.4374,26755.6415,14.656,24.1792,34.9035,2.8346
4144,-824.411,66.4374,26755.6415,14.656,24.1792,34.5908,2.8346
4145,-824.411,66.4374,26755.6415,14.656,24.1792,34.7060,2.8346
4146,-824.411,66.4374,26755.6415,14.656,24.1792,34.7060,2.8346
4147,-824.411,66.4374,26755.6415,14.656,24.1792,34.4509,2.8346
4148,-824.411,66.4374,26755.6415,14.656,24.1792,33.9161,2.8346
4149,-824.411,66.4374,26755.6415,14.656,24.1792,33.8832,2.8346

In [217]:
test_3_df.describe()

,free_cash_flow_equity,gross_margin,market_cap,net_income_margin,pe,px,roa
count,5724.000000,5590.000000,5724.000000,5590.000000,5704.000000,5723.000000,5724.000000
mean,-781.711669,66.360126,25903.477763,14.564112,23.787297,26.333556,2.789981
std,215.234496,0.943561,4166.040849,0.696771,2.645927,18.926362,0.334061
min,-824.411000,47.353100,1577.922500,4.960100,5.684500,6.269300,-1.488400
25%,-824.411000,66.437400,26755.641500,14.656000,24.179200,11.273000,2.834600
50%,-824.411000,66.437400,26755.641500,14.656000,24.179200,18.434900,2.834600
75%,-824.411000,66.437400,26755.641500,14.656000,24.179200,38.242450,2.834600
max,2511.075000,71.918400,27658.266800,14.656000,80.047700,86.200000,3.444500

## Add Technical Indicators

In [130]:
# Preset Parameters
window_year=252
window_month=21
window_quarter=63

In [219]:
def add_technical_indicators(stock):

    stock_df = stock.dropna(axis=1,how='all')
    stock_df['Price Momentum 12M'] = stock_df.px/stock_df.px.shift(window_year)-1
    stock_df['Price Momentum 12M-1M'] = stock_df.px.shift(window_month)/stock_df.px.shift(window_year)-1
    stock_df['Price to 52W High'] = stock_df.px/stock_df.px.rolling(window_year).max()
    stock_df['Price to 52W Low'] = stock_df.px/stock_df.px.rolling(window_year).min()
    stock_df['Return 1D'] = stock_df.px/stock_df.px.shift(1)-1
    stock_df['Return 1M'] = stock_df.px/stock_df.px.shift(window_month)-1
    stock_df['Return 1Q'] = stock_df.px/stock_df.px.shift(window_quarter)-1
#     stock_df['Return 5Y'] = stock_df.px/stock_df.px.shift(window_year*5)-1
    stock_df['Max Daily Return over 1M'] = stock_df['Return 1D'].rolling(window_month).max()
    stock_df['Realized Volatility 1M'] = stock_df['Return 1D'].rolling(window_month).std()
    stock_df['Realized Volatility 3M'] = stock_df['Return 1D'].rolling(window_month*3).std()

    return stock_df

In [220]:
test_450_2_df = add_technical_indicators(make_df(stocks[3]))

In [226]:
stocks[3]

'ES UN Equity'

In [221]:
test_450_2_df.describe()

,free_cash_flow_equity,gross_margin,market_cap,net_income_margin,pe,px,roa,Price Momentum 12M,Price Momentum 12M-1M,Price to 52W High,Price to 52W Low,Return 1D,Return 1M,Return 1Q,Max Daily Return over 1M,Realized Volatility 1M,Realized Volatility 3M
count,5724.000000,5590.000000,5724.000000,5590.000000,5704.000000,5723.000000,5724.000000,5471.000000,5471.000000,5472.000000,5472.000000,5722.000000,5702.000000,5660.000000,5702.000000,5702.000000,5660.000000
mean,-781.711669,66.360126,25903.477763,14.564112,23.787297,26.333556,2.789981,0.123071,0.112581,0.924152,1.231602,0.000530,0.010829,0.032447,0.023990,0.011713,0.012029
std,215.234496,0.943561,4166.040849,0.696771,2.645927,18.926362,0.334061,0.176291,0.169788,0.078577,0.130845,0.013054,0.054121,0.090376,0.014238,0.005909,0.005167
min,-824.411000,47.353100,1577.922500,4.960100,5.684500,6.269300,-1.488400,-0.349388,-0.384073,0.596905,1.000000,-0.126986,-0.257752,-0.296025,0.006285,0.004264,0.005193
25%,-824.411000,66.437400,26755.641500,14.656000,24.179200,11.273000,2.834600,0.021834,0.011271,0.892039,1.134982,-0.005796,-0.018785,-0.021412,0.015483,0.008224,0.008765
50%,-824.411000,66.437400,26755.641500,14.656000,24.179200,18.434900,2.834600,0.117891,0.105008,0.951219,1.210047,0.000000,0.012959,0.036857,0.020461,0.009967,0.010487
75%,-824.411000,66.437400,26755.641500,14.656000,24.179200,38.242450,2.834600,0.238221,0.226348,0.983583,1.310149,0.007109,0.042642,0.092775,0.026869,0.013812,0.013986
max,2511.075000,71.918400,27658.266800,14.656000,80.047700,86.200000,3.444500,0.784870,0.784751,1.000000,1.795998,0.107576,0.268074,0.353543,0.107576,0.055224,0.043029

In [225]:
test_450_2_df.iloc[4000:4030,:]

,free_cash_flow_equity,gross_margin,market_cap,net_income_margin,pe,px,roa,Price Momentum 12M,Price Momentum 12M-1M,Price to 52W High,Price to 52W Low,Return 1D,Return 1M,Return 1Q,Max Daily Return over 1M,Realized Volatility 1M,Realized Volatility 3M
4000,-824.411,66.4374,26755.6415,14.656,24.1792,36.5931,2.8346,0.312107,0.252689,0.998676,1.343650,0.006671,0.047432,0.114362,0.016740,0.008820,0.006997
4001,-824.411,66.4374,26755.6415,14.656,24.1792,36.5042,2.8346,0.317389,0.267504,0.996250,1.340386,-0.002429,0.039357,0.113283,0.016740,0.008847,0.007006
4002,-824.411,66.4374,26755.6415,14.656,24.1792,36.0515,2.8346,0.317730,0.291731,0.983895,1.323763,-0.012401,0.020127,0.095464,0.016740,0.009311,0.007223
4003,-824.411,66.4374,26755.6415,14.656,24.1792,36.3587,2.8346,0.335043,0.300910,0.992279,1.305528,0.008521,0.026238,0.104527,0.016740,0.009452,0.007275
4004,-824.411,66.4374,26755.6415,14.656,24.1792,35.9868,2.8346,0.292174,0.267794,0.982130,1.273639,-0.010229,0.019231,0.092698,0.016740,0.009733,0.007426
4005,-824.411,66.4374,26755.6415,14.656,24.1792,35.2108,2.8346,0.246175,0.263913,0.960951,1.245487,-0.021563,-0.014034,0.068876,0.016740,0.010582,0.007970
4006,-824.411,66.4374,26755.6415,14.656,24.1792,35.3887,2.8346,0.251780,0.270365,0.965807,1.251134,0.005052,-0.014629,0.073494,0.016740,0.010565,0.007986
4007,-824.411,66.4374,26755.6415,14.656,24.1792,35.1704,2.8346,0.242344,0.275181,0.959849,1.243416,-0.006169,-0.025751,0.068428,0.016740,0.010542,0.008033
4008,-824.411,66.4374,26755.6415,14.656,24.1792,35.5180,2.8346,0.253242,0.250105,0.969335,1.255705,0.009883,0.002509,0.087724,0.016740,0.010011,0.008022
4009,-824.411,66.4374,26755.6415,14.656,24.1792,35.9788,2.8346,0.269501,0.268644,0.981911,1.271996,0.012974,0.000676,0.096992,0.016740,0.009882,0.008146
4010,-824.411,66.4374,26755.6415,14.656,24.1792,35.6554,2.8346,0.244738,0.238814,0.973085,1.260563,-0.008989,0.004782,0.087131,0.016740,0.009650,0.008251
4011,-824.411,66.4374,26755.6415,14.656,24.1792,35.9464,2.8346,0.270851,0.263137,0.981027,1.268734,0.008161,0.006107,0.083565,0.016740,0.009699,0.008195
4012,-824.411,66.4374,26755.6415,14.656,24.1792,35.9141,2.8346,0.267594,0.282142,0.980146,1.260591,-0.000899,-0.011347,0.089432,0.012974,0.008942,0.008143
4013,-824.411,66.4374,26755.6415,14.656,24.1792,36.0434,2.8346,0.257835,0.255016,0.983674,1.265129,0.003600,0.002247,0.100306,0.012974,0.008709,0.008087
4014,-824.411,66.4374,26755.6415,14.656,24.1792,35.5180,2.8346,0.246346,0.270741,0.969335,1.246687,-0.014577,-0.019197,0.070135,0.012974,0.009124,0.008198
4015,-824.411,66.4374,26755.6415,14.656,24.1792,35.1866,2.8346,0.235055,0.274778,0.960291,1.208688,-0.009330,-0.031161,0.070745,0.012974,0.009259,0.008186
4016,-824.411,66.4374,26755.6415,14.656,24.1792,34.6288,2.8346,0.189527,0.245062,0.945068,1.186320,-0.015853,-0.044604,0.049676,0.012974,0.009778,0.008452
4017,-824.411,66.4374,26755.6415,14.656,24.1792,34.6288,2.8346,0.186320,0.242260,0.945068,1.180710,0.000000,-0.045031,0.038040,0.012974,0.009773,0.008347
4018,-824.411,66.4374,26755.6415,14.656,24.1792,34.3702,2.8346,0.168327,0.238117,0.938010,1.171892,-0.007468,-0.056368,0.024331,0.012974,0.009716,0.008381
4019,-824.411,66.4374,26755.6415,14.656,24.1792,34.0257,2.8346,0.158787,0.247875,0.928608,1.160146,-0.010023,-0.071392,0.007029,0.012974,0.009627,0.008440
4020,-824.411,66.4374,26755.6415,14.656,24.1792,34.2784,2.8346,0.164894,0.235314,0.935505,1.168762,0.007427,-0.057006,0.002518,0.012974,0.009852,0.008356
4021,-824.411,66.4374,26755.6415,14.656,24.1792,33.9768,2.8346,0.149115,0.237600,0.927274,1.158479,-0.008799,-0.071497,-0.012839,0.012974,0.009690,0.008387
4022,-824.411,66.4374,26755.6415,14.656,24.1792,34.1235,2.8346,0.138327,0.217744,0.931278,1.163481,0.004318,-0.065217,-0.007412,0.012974,0.009837,0.008405
4023,-824.411,66.4374,26755.6415,14.656,24.1792,33.8708,2.8346,0.118738,0.190766,0.924381,1.154865,-0.007405,-0.060488,-0.009872,0.012974,0.009661,0.008434
4024,-824.411,66.4374,26755.6415,14.656,24.1792,33.5854,2.8346,0.102719,0.193775,0.916592,1.145134,-0.008426,-0.076276,-0.015657,0.012974,0.009361,0.008493
4025,-824.411,66.4374,26755.6415,14.656,24.1792,33.9849,2.8346,0.119888,0.185855,0.927495,1.158755,0.011895,-0.055629,-0.008646,0.012974,0.009826,0.008608
4026,-824.411,66.4374,26755.6415,14.656,24.1792,34.5557,2.8346,0.154867,0.176761,0.943073,1.178217,0.016796,-0.018605,0.014706,0.016796,0.009704,0.008825
4027,-824.411,66.4374,26755.6415,14.656,24.1792,34.3029,2.8346,0.160454,0.197186,0.936174,1.169598,-0.007316,-0.030682,0.003235,0.016796,0.009703,0.008862
4028,-824.411,66.4374,26755.6415,14.656,24.1792,33.8545,2.8346,0.139521,0.183814,0.923936,1.154309,-0.013072,-0.037415,-0.015004,0.016796,0.009984,0.008990
4029,-824.411,66.4374,26755.6415,14.656,24.1792,33.5365,2.8346,0.133925,0.200922,0.915258,1.143466,-0.009393,-0.055789,-0.027457,0.016796,0.009743,0.009053

## Export Daily Fundamental & Technical Indicator Dataframes

In [109]:
def export_csv(stock):
    df = add_technical_indicators(stock)
    name = str(stock).replace('/','')
    filename = 'Daily_Stocks_Metrics/'+name+'.csv'   
    df.to_csv(filename)

In [111]:
[export_csv(stock) for stock in stocks]

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

## Export list of csv names for easy usage

In [112]:
def csv_name(stock):
    name = str(stock).replace('/','')
    filename = 'Daily_Stocks_Metrics/'+name+'.csv'
    return filename

csv_names = [csv_name(stock) for stock in stocks]

csv_names[5:10]

['Daily_Stocks_Metrics/AET UN Equity.csv',
 'Daily_Stocks_Metrics/MCO UN Equity.csv',
 'Daily_Stocks_Metrics/RMD UN Equity.csv',
 'Daily_Stocks_Metrics/LYB UN Equity.csv',
 'Daily_Stocks_Metrics/AXP UN Equity.csv']

In [115]:
csv_names_df = pd.DataFrame(csv_names)
csv_names_df.head()

                                         0
0  Daily_Stocks_Metrics/ILMN UW Equity.csv
1   Daily_Stocks_Metrics/EIX UN Equity.csv
2   Daily_Stocks_Metrics/GPS UN Equity.csv
3    Daily_Stocks_Metrics/ES UN Equity.csv
4  Daily_Stocks_Metrics/NLOK UW Equity.csv

In [116]:
csv_names_df.to_csv('Daily_Stocks_Metrics/csv_names_list.csv',index=False)

## Add S&P 500 Dataframe & Export

In [229]:
df_price = pd.read_csv('prices.csv')
df_price.set_index(pd.to_datetime(df_price['Date'], infer_datetime_format=True), inplace=True)
df_price.drop(columns=['Date','XLE US Equity', 'XLF US Equity', 'XLI US Equity',
       'XLK US Equity', 'XLP US Equity', 'XLRE US Equity', 'XLU US Equity',
       'XLV US Equity', 'XLY US Equity','XLB US Equity'], inplace=True)
df_price.head(2)

            SPXT Index
Date
1994-01-03       567.09
1994-01-04       569.07

In [230]:
df_price.columns = ['px']
df_price.head(2)

                px
Date
1994-01-03  567.09
1994-01-04  569.07

In [231]:
sp500_df = add_technical_indicators(df_price)

In [232]:
sp500_df.head()

,px,Price Momentum 12M,Price Momentum 12M-1M,Price to 52W High,Price to 52W Low,Return 1D,Return 1M,Return 1Q,Max Daily Return over 1M,Realized Volatility 1M,Realized Volatility 3M
Date,,,,,,,,,,,
1994-01-03,567.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1994-01-04,569.07,NaN,NaN,NaN,NaN,0.003492,NaN,NaN,NaN,NaN,NaN
1994-01-05,569.90,NaN,NaN,NaN,NaN,0.001459,NaN,NaN,NaN,NaN,NaN
1994-01-06,569.37,NaN,NaN,NaN,NaN,-0.000930,NaN,NaN,NaN,NaN,NaN
1994-01-07,572.76,NaN,NaN,NaN,NaN,0.005954,NaN,NaN,NaN,NaN,NaN

In [233]:
sp500_df.to_csv('Daily_Stocks_Metrics/sp500.csv')