# Daily Indicators per Stock

In [2]:
# Import libraries and dependencies
import pandas as pd
import numpy as np
from pathlib import Path
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [7]:
free_cash_flow_equity_path = 'Resources/s_FreeCashFlowEquity.csv'
free_cash_flow_equity_df = pd.read_csv(free_cash_flow_equity_path)
print(free_cash_flow_equity_df.shape)
print(free_cash_flow_equity_df.dtypes)

(5724, 506)
Date                object
ILMN UW Equity     float64
EIX UN Equity      float64
GPS UN Equity      float64
ES UN Equity       float64
                    ...
XEC UN Equity      float64
ZTS UN Equity      float64
DLR UN Equity      float64
EQIX UW Equity     float64
DISCK UW Equity    float64
Length: 506, dtype: object

In [22]:
free_cash_flow_equity_df.head(10)

,Date,ILMN UW Equity,EIX UN Equity,GPS UN Equity,ES UN Equity,NLOK UW Equity,AET UN Equity,MCO UN Equity,RMD UN Equity,LYB UN Equity,...,ALGN UW Equity,ADS UN Equity,LKQ UW Equity,NLSN UN Equity,GRMN UW Equity,XEC UN Equity,ZTS UN Equity,DLR UN Equity,EQIX UW Equity,DISCK UW Equity
0,1/30/1998,NaN,1568.5819,405.852,-111.346,17.905,NaN,NaN,-4.845,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2/27/1998,NaN,1568.5819,405.852,-111.346,17.905,NaN,NaN,-4.845,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3/31/1998,NaN,187.8050,405.852,137.620,17.905,NaN,NaN,-0.583,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4/30/1998,NaN,187.8050,405.852,137.620,17.905,NaN,NaN,-0.583,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5/29/1998,NaN,187.8050,19.217,137.620,17.905,NaN,NaN,-0.583,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6/30/1998,NaN,735.1540,19.217,-161.020,17.905,NaN,-271.0,1.878,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7/31/1998,NaN,735.1540,36.953,-161.020,17.905,NaN,-271.0,1.878,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8/31/1998,NaN,735.1540,36.953,-161.020,17.905,NaN,-271.0,1.878,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9/30/1998,NaN,127.8270,36.953,36.142,4.490,NaN,28.5,0.388,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10/30/1998,NaN,127.8270,246.257,36.142,4.490,NaN,28.5,0.388,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
gross_margin_path = 'Resources/s_GrossMargin.csv'
gross_margin_df = pd.read_csv(gross_margin_path)
print(gross_margin_df.shape)
print(gross_margin_df.dtypes)

(5724, 506)
Date                object
ILMN UW Equity     float64
EIX UN Equity      float64
GPS UN Equity      float64
ES UN Equity       float64
                    ...
XEC UN Equity      float64
ZTS UN Equity      float64
DLR UN Equity      float64
EQIX UW Equity     float64
DISCK UW Equity    float64
Length: 506, dtype: object

In [10]:
gross_margin_df.head(10)

,Date,ILMN UW Equity,EIX UN Equity,GPS UN Equity,ES UN Equity,NLOK UW Equity,AET UN Equity,MCO UN Equity,RMD UN Equity,LYB UN Equity,...,ALGN UW Equity,ADS UN Equity,LKQ UW Equity,NLSN UN Equity,GRMN UW Equity,XEC UN Equity,ZTS UN Equity,DLR UN Equity,EQIX UW Equity,DISCK UW Equity
0,1/30/1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2/27/1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3/31/1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4/30/1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5/29/1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6/30/1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7/31/1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8/31/1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9/30/1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10/30/1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
col1 = gross_margin_df.columns

In [15]:
col2 = free_cash_flow_equity_df.columns

In [18]:
def same_cols(col_a,col_b):
    if list(col_a) == list(col_b):
        return print('yay')
    else:
        return print('no')

In [19]:
same_cols(col1,col2)

yay

In [20]:
gross_margin_df = gross_margin_df.ffill()

In [21]:
gross_margin_df.head(30)

,Date,ILMN UW Equity,EIX UN Equity,GPS UN Equity,ES UN Equity,NLOK UW Equity,AET UN Equity,MCO UN Equity,RMD UN Equity,LYB UN Equity,...,ALGN UW Equity,ADS UN Equity,LKQ UW Equity,NLSN UN Equity,GRMN UW Equity,XEC UN Equity,ZTS UN Equity,DLR UN Equity,EQIX UW Equity,DISCK UW Equity
0,1/30/1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2/27/1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3/31/1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4/30/1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5/29/1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6/30/1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7/31/1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8/31/1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9/30/1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10/30/1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11/30/1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12/31/1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1/29/1999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2/26/1999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,3/31/1999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,4/30/1999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,5/28/1999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,6/30/1999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,7/30/1999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,8/31/1999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,9/30/1999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,10/29/1999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,11/30/1999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,12/31/1999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1/31/2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2/29/2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,3/31/2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,4/28/2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,5/31/2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,6/30/2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN